<!-- views/index.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>SAML Assertion Decoder</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
</head>
<body>
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="card">
          <div class="card-body text-center">
            <h1 class="card-title">Entra ID SAML Assertion Decoder</h1>
            <p class="card-text">Click below to authenticate with Microsoft Entra ID and decode your SAML assertion.</p>
            <a href="/login" class="btn btn-primary">Sign in with Microsoft</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>